<%- include('partials/header') %>
<script src="/index.js" type="module" defer></script>

<%- include('partials/user-aside') %>
<h1>Furred of the Third</h1>
<figure></figure>
<section id="info" style="display: none">
  <div><span id="animal"></span> from <a id="source"></a></div>
  <p><time>X</time> until next third</p>
  <a href="/furred/favorite" id="favorite-anchor">Favorite</a>
</section>

<%- include('partials/footer') %>
