@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

body {
  background-color: #FFBDBD;
  text-align: center;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body > * {
  display: flex;
  align-items: center;
  flex: 1;
}

figure > * {
  max-height: 65vh;
}

section {
  flex-direction: column;
}

#info {
  gap: 1ch;
}

span, a {
  font-weight: bold;
}
